<!-- templates/layout.html -->
{% from '_macros.html' import show_job, show_jobs with context %}
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css')}}"></link>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css"></link>
    <title>Job Board</title>
  </head>
  <body>
    <div class="container top">
      <div class="content">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </body>
</html>

{% from '_macros.html' import show_job, show_jobs with context %}

{% block content %}
  <div class="columns">
    <div class="column">
      <h1>Jobs</h1>
    </div>
    <div class="column is-one-fifth">
    </div>
  </div>
{% endblock %}
